<ion-header>
  <ion-toolbar color=primary>
    <ion-title>
      Emi Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="emiData" (ngSubmit)="getCalculation()">
      <ion-item>
        <ion-label position="floating"> Amount of the loan</ion-label>
        <ion-input type="number" formControlName="amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Annual percentage rate of interest</ion-label>
        <ion-input type="number" formControlName="rate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repayment period in years</ion-label>
        <ion-input type="number" formControlName="year"></ion-input>
      </ion-item>
      <ion-button expand=full type="submit" [disabled]="!emiData.valid">Submit</ion-button>
    </form>
  </ion-card>

</ion-content>
